$red: #FC0017;
$orange: #FF7E00;
$yellow: #FFC500;
$dark: #333;

@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@100;200;300;400;500;600;800;900&display=swap');

body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
}

header {
    background-color: $dark;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;

    nav {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

        .logo {
            max-width: 30vw;
            min-width: 30vw;
            width: 30%;
        }

        .menu {
            list-style: none;
            display: flex;
            gap: 20px;

            li {
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }

        #language-switch {
            cursor: pointer;
        }
    }

    #language-options {
        display: none;
        position: absolute;
        top: 50px;
        right: 20px;
        background-color: $dark;
        padding: 10px;

        span {
            color: #fff;
            cursor: pointer;
            margin-right: 10px;
        }
    }
}

.hero-section {
    margin-top: 80px;

    img {
        width: 100%;
        height: auto;
        max-height: calc((1440px / 3) - 20px); // Adjust the max-height as needed
        display: block;
        margin: 0 auto;
    }

    .hero-image-overlay {
        background-color: rgba(255, 126, 0, 0.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around;
        transform: translateY(-50%);
        transition: transform 0.3s ease-in-out;

        h1 {
            margin: 0;
            color: #fff;
            font-size: 2em;
            font-weight: 900 !important;
        }

        &:hover .hero-image-overlay {
            transform: translateY(-50%);
        }
    }
}

.images-section {

    .images-container {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1rem;
        align-content: space-around;
        justify-content: center;
        align-items: stretch;
    }

    .image-container {
        position: relative;

        img {
            width: 70%;
            height: auto;
            display: block;
        }

        .image-overlay {
            position: absolute;
            transform: translateY(-50%);
            transition: transform 0.3s ease-in-out;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .img-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px; // Adjust the padding as needed

                h2 {
                    margin: 0;
                    color: $orange;
                    font-size: 3em;
                    font-weight: 500 !important;
                }

                .arrow {
                    font-size: 1.5em; // Adjust size as needed
                    color: $orange;
                    margin-left: 10px; // Adjust spacing as needed
                }
            }
        }

        &:hover .image-overlay {
            transform: translateY(-50%);
        }
    }
}