@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@100;200;300;400;500;600;800;900&display=swap");
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1000;
}
header nav {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  padding: 15px;
  gap: 24px;
}
header nav .logo {
  max-width: 20vw;
  min-width: 18vw;
  width: 30%;
}
header nav .menu {
  list-style: none;
  display: flex;
  gap: 20px;
}
header nav .menu li a {
  color: #fff;
  text-decoration: none;
}
header nav #mobile-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
header nav #mobile-menu span {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
}
header nav #language-switch {
  cursor: pointer;
}
header #language-options {
  display: none;
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: #333;
  padding: 10px;
}
header #language-options span {
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}
@media screen and (max-width: 991px) {
  header #language-options {
    top: 70px;
  }
}
@media screen and (max-width: 991px) {
  header nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  header nav .logo {
    width: 35vw;
    max-width: none;
    margin-bottom: 5px;
  }
  header nav img {
    max-width: 35vw;
    min-width: 25vw;
  }
  header nav .menu {
    display: none;
  }
  header nav #mobile-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  header nav #language-options {
    top: 70px;
  }
}

/* Sección hero */
.hero-section {
  margin-top: 80px;
}
.hero-section img {
  width: 100%;
  height: auto;
  max-height: 340px;
  display: block;
  margin: 0 auto;
}
.hero-section .hero-image-overlay {
  background-color: rgba(255, 126, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}
.hero-section .hero-image-overlay h1 {
  margin: 0;
  color: #fff;
  font-size: 3em;
  font-weight: 900 !important;
}
.hero-section .hero-image-overlay:hover .hero-image-overlay {
  transform: translateY(-50%);
}

/* Sección imágenes */
.images-section {
  padding: 2rem 8rem;
}
.images-section h2 {
  margin-bottom: 0.4em;
  color: #FF7E00;
  font-size: 2.5em;
  font-weight: 500;
}
.images-section .images-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  align-content: space-around;
  justify-content: center;
  align-items: stretch;
}
.images-section .image-container {
  position: relative;
}
.images-section .image-container img {
  width: 100%;
  height: auto;
  display: block;
}
.images-section .image-container .image-overlay {
  position: absolute;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.images-section .image-container .image-overlay .img-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.images-section .image-container .image-overlay .img-content .img-content h3 {
  color: #FFC500;
  font-size: 4em;
  font-weight: 500;
  line-height: 1.2em;
}
.images-section .image-container .image-overlay .img-content .arrow {
  font-size: 1.5em;
  color: #FF7E00;
  margin-left: 10px;
}
.images-section .image-container:hover .image-overlay {
  transform: translateY(-50%);
}
@media screen and (min-width: 600px) {
  .images-section .images-container {
    gap: 1rem;
  }
  .images-section .image-container {
    width: 48%;
  }
}
@media screen and (min-width: 992px) {
  .images-section .images-container {
    gap: 2rem;
  }
  .images-section .image-container {
    width: 48%;
  }
}

/* Footer */
footer {
  background-color: #FC0017;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 15px;
  width: 100%;
}
footer .footer-links {
  text-align: left;
}
footer .footer-links h4 {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 10px;
}
footer .footer-links ul {
  list-style: none;
  padding: 0;
}
footer .footer-links ul li {
  margin-bottom: 5px;
}
footer .footer-links ul li a {
  color: #fff;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */